.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap;
}
/*for this flex you can use flex direction
justify content align items*/
/*if you used the align items and change the 
font size it will make that the text aligns no mater the 
size */
/*you can add a gap with column gap*/
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 63%);
}
#box2{
    background-color: aqua;
    align-self: center;
}
#box3{
    background-color: rgb(64, 64, 255);
    align-self: end;
}
#box4{
    background-color: hsl(271, 100%, 65%);
    order: -1;
}
/*i added 4 more elements as you can see now the elemtns are 
getting squished*/
/*the flex wrap will make the elemtns wrap each other*/